/**
* Fonts.css
* Importation
* des polices
*/

/* Righteous & Work Sans */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Righteous|Work+Sans:300,400,500,600,700&display=swap');

@font-face {
	font-family: 'Helvetica Medium';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/helveticaneue/Helvetica65Medium_22443.woff') format('woff');
}

@font-face {
	font-family: 'Helvetica Regular';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/helveticaneue/Helvetica55Roman_22439.woff') format('woff');
}

@font-face {
	font-family: 'Helvetica Bold';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/helveticaneue/HelveticaNeueBold.woff') format('woff');
}

@font-face {
	font-family: 'Helvetica Light';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/helveticaneue/Helvetica45Light_22437.woff') format('woff');
}

@font-face {
	font-family: 'Impact';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/impact/impact.ttf') format('truetype');
}