body{
	font-family: 'Work Sans', sans-serif;
}
.relative{ position: relative; }

*{ box-sizing: border-box; }
.mb-0{ margin-bottom: 0px; }
.mt-0{ margin-top: 0px; }
.tar{ text-align: right; }

.sidenav li > a{ color: #323232 !important; }
.sidenav li > a:hover{
	color: #fff !important;
	background-color: #ff6600;
}
.sidenav li i{ font-size: 1.9em; }
.sidenav > li > a{ font-size: 1.1em; }
.sidenav .inferieur{
	width: 100%;
	padding: 0 0 0 90px;
}
.sidenav .inferieur li{ line-height: initial; margin-bottom: 5px; }
.sidenav .inferieur li a{
	padding: 3px 0px;
	height: auto;
	display: inline-block;
	line-height: initial;
	border-bottom: 4px solid transparent;
}
.sidenav .inferieur li a:hover{
	background: transparent;
	color: #323232 !important;
	border-bottom: 4px solid #ff6600;
}
.sidenav li > a > i, 
.sidenav li > a > [class^="mdi-"], 
.sidenav li > a li > a > [class*="mdi-"], 
.sidenav li > a > i.material-icons{
	color: #323232 !important;
}
.sidenav li a:hover i{ color: #fff !important; }


/* Header */
#header{
	background-color: rgba(0, 0, 0, 0.8);
}
#header .siteinfos h3,
#header .siteinfos p{
	text-align: center;
	color: #fff;
	margin: 0;
}
#header .siteinfos h3{
	margin: 0;
	font-family: 'Righteous', sans-serif;
	font-size: 2.3em;
	letter-spacing: 4px;
}
#header .siteinfos h3 .tiret{
	color: #ff6600;
}
#header .siteinfos p{
	margin: 0;
	color: #ff6600;
	text-transform: uppercase;
	margin-bottom: 7px;
}
#header .menu-actions,
#header .socials{ 
	height: 66px;
	position: relative; 
}
#header .menu-actions ul,
#header ul.socials,
#footer .socials ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: block;
	height: 100%;
}
#header .menu-actions ul li,
#header .socials ul li,
#footer ul.socials  li{
	display: inline-block;
	vertical-align: middle;
}

#header .menu-actions ul{
	position: absolute;
	top: 50%;
	left: 15px;

	margin-top: -14px;
}
#header .menu-actions ul li{ margin-right: 10px; }
#header .menu-actions ul li:hover{ opacity: .8; }
#header .menu-actions ul li a i{
	display: block;
	font-size: 1.9em;
	color: #fff;
}
#header .socials ul{
	display: block;
	height: 100%;

	text-align: right;
	margin-top: 10px;
	margin-right: 15px;
}
#header .socials ul li,
#footer ul.socials  li
{ margin-left: 3px; }
#header .socials ul li a,
#footer ul.socials li a{
	font-size: 1.3em;
	display: block;
	width: 40px;
	height: 40px;

	padding: 5px 0;
	text-align: center;
	border: 2px solid #fff;
	border-radius: 100%;
	color: #fff;
}
#header .socials ul li a:hover,
#footer ul.socials li a:hover{
	background-color: #fff;
	color: rgba(0, 0, 0, 0.8)
}

/**
* Accueil
*/
.hero-content{
	display: flex;
	height: 500px;
	margin-top: 30px;
}
.hero-content .twothird{
	flex: 2;
	padding-right: 7.5px;
}
.hero-content .onethird{
	flex: 1;

	display: flex;
	flex-direction: column;
	padding-left: 7.5px;
}
.hero-content .column{ height: 50%; }
.hero-content .column.firsthalf{
	padding-bottom: 7.5px;
}
.hero-content .column.secondhalf{
	padding-top: 7.5px;
}
.hero-content .box{
	width: 100%;
	height: 100%;
	background-color: #cfcfcf;
	position: relative;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	border-radius: 5px;

	overflow: hidden;
}
.hero-content .box img{
	width: 100%;
	height: 100%;

	object-fit: cover;
}
.videothumb{ position: relative; }
.videothumb .playeric{
	background-color: rgba(255, 255, 255, 0.53);
	display: inline-block;
	font-size: 4.9em;
	padding: 7px;
	border-radius: 100%;

	position: absolute;
	top: 50%;
	left: 50%;

	width: 87px;
	height: 87px;
	color: #fff;

	margin-top: -43.5px;
	margin-left: -43.5px;

	-webkit-transition: all ease-in 0.2s;
	-o-transition: all ease-in 0.2s;
	transition: all ease-in 0.2s;
}
.videothumb:hover .playeric{
	background-color: rgba(255, 102, 0, 0.68);
}
.videothumb.mini .playeric{
	font-size: 2.7em;
	width: 54px;
	height: 54px;

	margin-top: -20px;
	margin-left: -20px;
}
.videothumb .text{
	position: absolute;
	bottom: 15px;
	left: 0;

	width: 100%;
	height: auto;
	text-align: center;
}
.videothumb.mini .text{}
.videothumb.mini .text h3{
	font-size: 1.2em;
	padding: 5px;
	opacity: 0;
}
.videothumb .text h3{
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	background-color: #fff;

	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	padding: 10px;
	margin: 0px;
	max-width: 70%;
	font-weight: 700;
	font-size: 1.7em;
}
.videothumb .hashtag{
	font-family: 'Righteous', sans-serif;
	display: inline-block;
	padding: 5px 10px;
	background-color: #ff6600;
	color: #fff;
	font-size: 1.7em;

	position: absolute;
	top: 15px;
	right: 0px;
}
.videothumb.mini .hashtag{
	font-size: 1.2em;
	margin-top: 10px;
}
.home.tickets{ margin-top: 60px; }
.tickets .ticket a{ color: #000; }
.tickets .ticket .inner{
	height: 350px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	position: relative;
	margin-bottom: 15px;
}
.tickets .ticket.dual .inner{
	height: 500px;
}
.tickets .ticket .category,
.category-hero .category{
	display: inline-block;
	padding: 7px 15px;
	background-color: #ff6600;
	color: #fff;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

	font-size: 1.0em;
	text-transform: uppercase;
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	margin-bottom: 15px;

	transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.tickets .ticket.dual .category{
	border: 2px solid #ff6600;
	color: #ff6600;
	background-color: #fff;
}
.tickets .ticket:hover .category{
	background-color: #fff;
	color: #ff6600;
}
.tickets .ticket.dual:hover .category{
	color: #fff;
	background-color: #ff6600;
}
.ticket .ticket-image{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.ticket .textes{
	position: absolute;
	bottom: 0px;
	left: 0px;

	width: 100%;
	height: 55%;

	padding: 20px 5px 5px 5px;
	background-color: #fff;
	transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.ticket:hover .textes{
	height: 60%;
	background-color: rgba(255, 102, 0, 0.9);
}
.ticket .textes h3,
.category-hero .textes h3,
.ticket .textes p,
.category-hero .textes p{
	font-family: 'Work Sans', sans-serif;
}
.ticket:hover .textes h3,
.ticket:hover .textes p{
	color: #fff;
}
.ticket .textes h3,
.category-hero .textes h3{ 
	text-align: center;
	
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px;
}
.ticket .textes .firsttitle,
.category-hero .textes .firsttitle{
	font-size: 1.5em;
}
.ticket .textes .firsttitle + h3,
.category-hero .textes .firsttitle + h3{
	font-size: 1.1em;
}
.ticket.dual .textes .firsttitle + h3{
	font-size: 1.5em;
}
.ticket .textes p,
.category-hero .textes p{
	font-size: 0.8em;
	color: #5c5c5c;
	text-align: center;
	margin-bottom: 15px;
}
.ticket.dual .textes p:not(.date){
	font-size: 1.5em;
}
.ticket .textes .relative{ height: 100%; }
.ticket .textes .relative::before{
	content: '';
	width: 30px;
	height: 30px;

	background-color: #fff;
	position: absolute;
	top: -30px;
	left: 50%;
	margin-left: -15px;

	z-index: 2;

	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);

	transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.ticket:hover .textes .relative::before{
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);

	background-color: rgba(255, 102, 0, 0.8);
	opacity: 0;
}
.ticket .textes *{ 
	position: relative;
	z-index: 3; 
}
.ticket .textes p.date,
.category-hero .textes p.date{
	position: absolute;
	bottom: 5px;
	left: 0px;
	width: 100%;
	text-align: center;
	margin-bottom: 0px;
}
.ticket.dual .textes p.date{
	font-size: 1.2em;
	color: #ff6600;
}
.ticket.dual:hover .textes p.date{ color: #fff; }
.toparticles{
	background-color: #f4f4f4;
	padding: 30px 0;
}
.toparticles .section-title{
	text-align: center;
}
.toparticles .row{ margin-top: 45px; }
.toparticles .section-title h3{
	display: inline-block;
	font-family: 'Work Sans', sans-serif;
	text-transform: uppercase;
	color: #ff6600;
	font-weight: bold;
	font-size: 1.9em;
	padding-bottom: 10px;
	border-bottom: 8px solid #ff6600;
}
.toparticles .item{
	position: relative;
	padding: 0 1.5rem;
	margin-bottom: 30px;
}
.toparticles .item.no-mb{ margin-bottom: 0px; }
.toparticles .item .inner{
	background-color: #fff;

	padding-left: 45px;
	padding: 15px 15px 15px 45px;
}
.toparticles .item a{ color: #000; }
.toparticles .item .number{
	position: absolute;
	background-color: #cbcbcb;
	font-family: 'Impact';
	display: inline-block;
	padding: 5px 20px;
	color: #fff;

	top: 0px;
	left: -5px;
	margin: 0px;
}
.toparticles .item .inner:hover .number{ background-color: #ff6600; }
.toparticles .item .content h3{
	font-weight: 500;
	font-size: 1.2em;
	margin: 0px 0 10px;
	display: inline-block;
	width: 100%;
	text-transform: uppercase;
	color: #ff6600;
}
.toparticles .item .content p{ margin: 0 0 10px; }
.toparticles .item .content .hash{
	text-transform: uppercase;
	color: #ff6600;
}
.hero-discover{ padding: 45px 0; }
.hero-discover .zone{
	width: 100%;
	height: 600px;

	position: relative;
}
.hero-discover .zone img{
	width: 100%;
	height: 100%;

	object-fit: cover;
}
.hero-discover .zone .details{
	position: absolute;
	width: 100%;
	height: 100%;

	top: 0px;
	left: 0px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 25px 60px;
	background-color: rgba(0, 0, 0, 0.3);
}
.hero-discover .zone .details .inner{ width: 60%; }
.hero-discover .zone .details h3{
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	color: #fff;
	margin-bottom: 0px;
}
.hero-discover .zone .details p{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 1.7em;
	font-weight: 300;
	margin-top: 0px;
}
.hero-discover .zone .details a{
	display: inline-block;
	padding: 10px 35px;
	color: #ff6600;
	border-radius: 30px;
	background-color: #fff;
	font-family: 'Helvetica Bold', sans-serif;
}
.hero-discover .zone .details a:hover{ opacity: .8; }
.hero-discover .flexzone{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;

	display: flex;
	flex-wrap: nowrap;
	margin-top: 30px;
}
.hero-discover .flexzone a{
	width: 20%;
	border: 2px solid #707070;
	margin-right: 10px;
	text-align: center;
	padding: 7px 0px;
	font-family: 'helvetica Bold';
	text-transform: uppercase;
	color: #141212;
	position: relative;

}
.hero-discover .flexzone a:last-child{ margin-right: 0px; }
.hero-discover .flexzone a:hover{
	background-color: #ff6600;
	color: #fff;
	border-color: #ff6600;
}
.hero-discover .flexzone a:hover::after{
	display: block;
	content: 'Voir les 8 articles';
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	bottom: -25px;
	left: 0px;
	font-size: 0.8em;
	width: 100%;
	height: auto;
	color: #ff6c0a;
}
.bandes.orange{ background: #ff6600 !important; }
.bandes .inner{
	height: 300px;
	width: 100%;
	display: flex;
}
.bandes .inner .left{ flex: 2; }
.bandes .inner .right{ flex: 1; }
.bandes .inner .left,
.bandes .inner .right{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.bandes.orange .inner .left h3{
	font-family: 'Montserrat';
	font-weight: 600;
	text-transform: capitalize;
	margin: 0px;
	color: #fff;
}
.bandes.orange .inner .left p{
	font-family: 'Montserrat';
	font-weight: 500;
	margin: 0px;
	color: #fff;
	font-size: 1.4em;
}
.bandes.orange .inner .left p:last-child{
	font-family: 'Montserrat';
	margin: 0px;
	color: #fff;
	font-size: 1.0em;
}
.bandes.orange .inner .right{ align-items: flex-end; }
.bandes.orange .inner .right a{
	background-color: #fff;
	padding: 7px 15px;
	font-size: 1.3em;
	color: #ff6600;
}
.bandes.gris{ background-color: #b4b5b3; }
.bandes.gris .inner .left h3{
	font-family: 'Montserrat';
	font-weight: 600;
	margin: 0px;
	color: #fff;
}
.bandes.gris .inner .left p{
	font-family: 'Montserrat';
	margin: 0px;
	color: #fff;
	font-size: 1.0em;
}
.bandes.gris .inner .right p label{
	color: #fff;
}
#footer{
	background-color: #312e2e;
	padding: 45px 0;
}
.foo-links{
	list-style: none;
	margin: 0;
	padding: 0;

	width: 100%;
	text-align: center;
}
.foo-links li{
	display: inline-block;
	vertical-align: middle;
}
.foo-links li.divider{
	height: 30px;
	border-right: 1px solid #fff;
}
.foo-links li a{
	display: block;
	padding: 10px 15px;
	font-size: 1.3em;
	color: #fff;
	text-decoration: none;
	font-family: 'Montserrat';
	font-weight: 300;
}
#footer .socials{
	text-align: center;
	margin-top: 45px;
}







input:not([type]), 
input[type=text]:not(.browser-default), 
input[type=password]:not(.browser-default), 
input[type=email]:not(.browser-default), 
input[type=url]:not(.browser-default), 
input[type=time]:not(.browser-default), 
input[type=date]:not(.browser-default), 
input[type=datetime]:not(.browser-default), 
input[type=datetime-local]:not(.browser-default), 
input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), 
input[type=search]:not(.browser-default), 
textarea.materialize-textarea{
	border-bottom: 3px solid #fff;
	color: #fff;
	font-family: 'Montserrat';
	font-weight: 300;
}
input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 3px solid #ff6600;
	color: #fff;
}
[type="checkbox"] + span:not(.lever):before, 
[type="checkbox"]:not(.filled-in) + span:not(.lever):after{
	border-color: #fff;
}
[type="checkbox"]:checked + span:not(.lever):before{
	border-right-color: #fff;
	border-bottom-color: #fff;
}
.btn{
	background-color: #fff;
	text-align: center;
	color: #000;
	text-transform: none;

	-webkit-transition: none;
	-o-transition: none;
	transition: none;

	font-size: 1.3em;
}
.btn:hover{
	background-color: #ff6600;
	color: #fff;
}