.subsubsub{
    list-style: none;
    margin: 0 0 25px;
    padding: 0;
    /*font-size: 15px;*/
    color: #666;
}

.subsubsub li{
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

#major-publishing-actions {
    padding: 10px;
    clear: both;
    border-top: 1px solid #ddd;
    background: #f5f5f5;
}

.side-menu.left {
    background: #ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    top: 60px;
    bottom: 50px;
    height: 100%;
    margin-bottom: -70px;
    margin-top: 0px;
    padding-bottom: 70px;
    position: fixed!important;
}

#myTable , tr:hover .row-actions-edit {
    position: static;
}
.row-actions-edit{
    color: #ddd;
    font-size: 13px;
    position: relative;
    left: -9999em;
    padding: 2px 0 0;
    width: 100%;
}
.row-actions-edit span{
    display: inline-table !important;
}
.w-blogpost {
    display: inline-block;
    vertical-align: top;
    font-size: 1.2rem;
    margin: 0 1.2rem 0.4rem 0;
}

#myTable input[type=checkbox]{
    width: 16px;
    height: 16px;
}

.img-me{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
